@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4" style="color: rgb(200, 195, 188);">Hoşgeldiniz.</h1>
<div class="d-flex justify-content-center align-items-center" style="height: 45vh;">
    <div class="text-center">
            

        <!-- Butonları yan yana ve aralarına mesafe ekleyelim -->
        <div class="d-flex gap-5">
            <!-- gap-5 ile arayı arttırdık -->
            <button class="btn hover-btn" style="background-color: darkred ;">
                <a class="nav-link text-dark" asp-area="" asp-controller="AdminLogin" asp-action="Index" style="background-color: darkred; text-decoration: none;">Admin Girişi</a>
            </button>
            <button class="btn hover-btn" style="background-color: blue ;">
                <a class="nav-link text-dark" asp-area="" asp-controller="InstructorLogin" asp-action="Index" style="background-color: blue; text-decoration: none;">Öğretim Üyesi Girişi</a>
            </button>
            <button class="btn hover-btn" style="background-color:forestgreen;">
                <a class="nav-link text-dark" asp-area="" asp-controller="AsistanLogin" asp-action="Index" style="background-color: forestgreen; text-decoration: none;">Asistan Girişi</a>
            </button>
        </div>
        <br />
        <br />
        <br />
        <button class="btn hover-btn" style="background-color: darkgreen;align-content:center;">
            <a class="nav-link text-dark" asp-area="" asp-controller="SectionIntroduction" asp-action="Index" style="color: white; text-decoration: none;">Bölüm Tanıtım Sayfası </a>
        </button>
    </div>
</div>


