
<div class="main-header" style="background-image: initial;
    background-color: rgb(24, 26, 27);
    border-bottom-color: rgb(53, 57, 59);">
	<div class="logo-header" style="width:261px">
		<a href="/AdminPage" class="logo" style="color: rgb(174, 167, 156);">
			Admin Paneli
		</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
	</div>
	<nav class="navbar navbar-header navbar-expand-lg">
		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
				
				<li class="nav-item dropdown">
					<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
						<img src="~/a.png"
							 alt="user-img" width="50" class="img-circle"><span style="color: rgb(178, 172, 162);">Admin</span></span>
					</a>
					<ul class="dropdown-menu dropdown-user" style="color: rgb(209, 205, 199);
						list-style-image: initial;
						background-color: rgb(24, 26, 27);
						border-color: rgba(140, 130, 115, 0.15);">
						<li>
							<div class="user-box">
								<div class="u-img"><img src="~/a.png" alt="user"></div>
								<div class="u-text">
									<h4>Admin</h4>
									<p class="text-muted" style="color: rgb(158, 150, 137) !important;">bugransz@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm"
								style="background-color: rgb(144, 0, 8) !important;
								border-color: rgb(149, 0, 9) !important;">Profili Gör</a>
								</div>
							</div>
						</li>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/Default/Index" style="color: rgb(209, 205, 199);
							background-color: transparent;
							border-width: 0px;
							border-style: initial;
							border-color: initial;"><i class="ti-user"></i>Profilim</a>
						<a class="dropdown-item" href="/Default/Index" style="color: rgb(209, 205, 199);
							background-color: transparent;
							border-width: 0px;
							border-style: initial;
							border-color: initial;"></i>Yeteneklerim</a>
						<a class="dropdown-item" href="/Default/Index" style="color: rgb(209, 205, 199);
							background-color: transparent;
							border-width: 0px;
							border-style: initial;
							border-color: initial;"><i class="ti-email"></i>Gelen Mesajlar</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/Default/Index" style="color: rgb(209, 205, 199);
							background-color: transparent;
							border-width: 0px;
							border-style: initial;
							border-color: initial;"><i class="ti-settings"></i>Hesap Ayarları</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/AdminLogin/Index" style="color: rgb(209, 205, 199);
							background-color: transparent;
							border-width: 0px;
							border-style: initial;
							border-color: initial;"><i class="fa fa-power-off"></i>Çıkış Yap</a>
					</ul>
					<!-- /.dropdown-user -->
				</li>
			</ul>
		</div>
	</nav>
</div>
