
<div class="sidebar" style="
    background-image: initial;
    background-color: rgb(24, 26, 27);
    border-right-color: rgb(53, 57, 59);
    box-shadow: rgba(54, 58, 61, 0.1) 6px 1px 20px;
	margin-top: 20px;">
	<div class="scrollbar-inner sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item">
				<a href="/AssistantPage">
					<i class="la la-dashboard"></i>
					<p>Bilgiler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Shift/Index3">
					<i class="la la-table"></i>
					<p>Nöbetim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AppointmentManager/Index3">
					<i class="la la-keyboard-o"></i>
					<p>Randevular</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Emergency/Index3">
					<i class="la la-times-circle"></i>
					<p>Acil Durum</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Timeline/Index3">
					<i class="la la-calendar"></i>
					<p>Takvim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AsistanLogin/Index">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>