
<div class="main-header" style="background-image: initial;
    background-color: rgb(24, 26, 27);
    border-bottom-color: rgb(53, 57, 59);">
	<div class="logo-header" style="width:261px">
		<a href="/InstructorPage" class="logo" style="color: rgb(174, 167, 156);">
			Öğretim Üyesi Paneli
		</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
	</div>
	<nav class="navbar navbar-header navbar-expand-lg">
		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

				<li>
					<a class="dropdown-toggle profile-pic" aria-expanded="false"><span style="color: rgb(178, 172, 162);">Öğretim Üyesi</span></span>
					</a>
					<!-- /.dropdown-user -->
				</li>
			</ul>
		</div>
	</nav>
</div>
